/*********** FONTS  **************/

@font-face {
  font-family: 'Conv_AVENIRLTSTD-BLACK';
  src: url('../fonts/AVENIRLTSTD-BLACK.eot');
  src: local('?'), url('../fonts/AVENIRLTSTD-BLACK.woff') format('woff'), url('../fonts/AVENIRLTSTD-BLACK.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-BLACK.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_AVENIRLTSTD-BOOK';
  src: url('../fonts/AVENIRLTSTD-BOOK.eot');
  src: local('?'), url('../fonts/AVENIRLTSTD-BOOK.woff') format('woff'), url('../fonts/AVENIRLTSTD-BOOK.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-BOOK.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_AVENIRLTSTD-HEAVY';
  src: url('../fonts/AVENIRLTSTD-HEAVY.eot');
  src: local('?'), url('../fonts/AVENIRLTSTD-HEAVY.woff') format('woff'), url('../fonts/AVENIRLTSTD-HEAVY.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-HEAVY.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_AVENIRLTSTD-LIGHT';
  src: url('../fonts/AVENIRLTSTD-LIGHT.eot');
  src: local('?'), url('../fonts/AVENIRLTSTD-LIGHT.woff') format('woff'), url('../fonts/AVENIRLTSTD-LIGHT.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-LIGHT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*****************************************************************/

body,
html {
  background-color: #f8f9fd;
  font-family: 'Conv_AVENIRLTSTD-BOOK';
  font-weight: normal;
  font-style: normal;
}

.ControlZone {
  background-color: #f8f9fd;
}

.TimeLineContainer {
  .gantt-container {
    position: relative;
    font-size: 12px;
    height: 24rem;
  }
  .gantt-container svg.gantt {
    max-height: 100%;
  }
  .gantt .grid-background {
    fill: none;
  }
  .gantt .grid-header {
    fill: #ffffff;
    stroke: #e0e0e0;
    stroke-width: 1.4;
  }
  .gantt .grid-row {
    fill: #ffffff;
  }
  .gantt .grid-row:nth-child(even) {
    fill: #f5f5f5;
  }
  .gantt .row-line {
    stroke: #ebeff2;
  }
  .gantt .tick {
    stroke: #e0e0e0;
    stroke-width: 0.2;
  }
  .gantt .tick.thick {
    stroke-width: 0.4;
  }
  .gantt .today-highlight {
    fill: #606692;
    opacity: 0.5;
  }
  .gantt .arrow {
    fill: none;
    stroke: #666;
    stroke-width: 1.4;
  }
  .gantt .bar {
    fill: #b8c2cc;
    stroke: #8d99a6;
    stroke-width: 0;
    transition: stroke-width 0.3s ease;
    user-select: none;
  }
  .gantt .bar-progress {
    fill: #a3a3ff;
  }
  .gantt .bar-invalid {
    fill: transparent;
    stroke: #8d99a6;
    stroke-width: 1;
    stroke-dasharray: 5;
  }
  .gantt .bar-invalid~.bar-label {
    fill: #555;
  }
  .gantt .bar-label {
    fill: #fff;
    dominant-baseline: central;
    text-anchor: middle;
    font-size: 12px;
    font-weight: lighter;
  }
  .gantt .bar-label.big {
    fill: #555;
    text-anchor: start;
  }
  .gantt .handle {
    fill: #ddd;
    cursor: ew-resize;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
  .gantt .bar-wrapper {
    cursor: pointer;
    outline: none;
  }
  .gantt .bar-wrapper:hover .bar {
    fill: #a9b5c1;
  }
  .gantt .bar-wrapper:hover .bar-progress {
    fill: #8a8aff;
  }
  .gantt .bar-wrapper:hover .handle {
    visibility: visible;
    opacity: 1;
  }
  .gantt .bar-wrapper.active .bar {
    fill: #a9b5c1;
  }
  .gantt .bar-wrapper.active .bar-progress {
    fill: #8a8aff;
  }
  .gantt .lower-text,
  .gantt .upper-text {
    font-size: 12px;
    text-anchor: middle;
  }
  .gantt .upper-text {
    fill: #555;
  }
  .gantt .lower-text {
    fill: #333;
  }
  .gantt .hide {
    display: none;
  }
  .gantt-container .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    color: #959da5;
    border-radius: 3px;
  }
  .gantt-container .popup-wrapper .title {
    border-bottom: 3px solid #a3a3ff;
    padding: 10px;
  }
  .gantt-container .popup-wrapper .subtitle {
    padding: 10px;
    color: #dfe2e5;
  }
  .gantt-container .popup-wrapper .pointer {
    position: absolute;
    height: 5px;
    margin: 0 0 0 -5px;
    border: 5px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8);
  }
  svg.gantt {
    pointer-events: none;
  }
  .timelineProjectName {
    margin-top: 13px;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    z-index: 999;
    padding: .5rem 0 0 1rem;
    overflow-y: scroll;
    height: 100%;
    background-color: #181a2d;
  }
  .timelineMainDiv {
    height: 320px;
    overflow: auto;
  }
  .projectSideBar {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 250px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 0;
    padding-left: 0;
  }
  .timelineProjectNameDiv {
    color: aquamarine;
    margin-top: 30px;
    margin-left: 10px;
  }
  .timeLineBtnDiv {
    text-align: right;
    padding: 5px;
    background-color: #2d314c;
  }
  .timeLineBtn {
    background: 0 0;
    color: #ddd;
    border: 1px solid #373b5d;
    margin-left: 5px;
    border-radius: 42px;
    font-size: 12px;
    padding: 2px 12px;
    background-color: #202338;
  }
}

// Prashant Custom CSS
.TimeLineContainer {
  background-color: #1d203a;
  overflow-y: hidden;
  position: relative;
}

.TimeLineContainer .gantt .tick {
  stroke: #030306;
  stroke-width: .2;
}

.TimeLineContainer .gantt .grid-row {
  fill: #1d203a;
}

.TimeLineContainer .gantt .grid-row:nth-child(2n) {
  fill: #1d203a;
}

.TimeLineContainer .gantt .grid-header {
  fill: #1d203a;
  stroke: #181b36;
  stroke-width: 1.4;
  color: #fff;
}

.TimeLineContainer .gantt .row-line {
  stroke: #151529;
}

.TimeLineContainer .gantt .bar {
  fill: #238ef1;
  stroke: #238ef1;
  stroke-width: 0;
  transition: stroke-width .3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.TimeLineContainer .gantt .bar-progress {
  fill: #1773c7;
}

.TimeLineContainer .gantt .bar-wrapper.active .bar {
  fill: #238ef1;
}

.TimeLineContainer .gantt .bar-wrapper.active .bar-progress {
  fill: #1773c7;
}

.TimeLineContainer .gantt .today-highlight {
  fill: #606692;
  opacity: .5;
}

.TimeLineContainer .gantt-container .popup-wrapper .title {
  border-bottom: 3px solid #248ef1;
  padding: 10px;
}

.TimeLineContainer .gantt .upper-text {
  fill: #fff;
}

.TimeLineContainer .gantt .lower-text {
  fill: #fff;
}

.TimeLineContainer .gantt .bar-wrapper:hover .bar {
  fill: #1f7ed6;
  ;
}

.TimeLineContainer .gantt .bar-wrapper:hover .bar-progress {
  fill: #155c9c;
}

div#workbenchPageContent {
  max-width: 10000px !important;
  padding-left: 400px !important;
  padding-right: 2px !important;
}

.TimeLineContainer .gantt .bar-label.big {
  fill: #fff;
  text-anchor: start;
}

.workbench {
  font-family: 'Conv_AVENIRLTSTD-BOOK' !important;
}

// tr.ui-widget-content>td:first-child {
//   padding: 0;
//   background-color: #248ef1;
//   color: #fff;
// }
div[class^="feedback_"] {
  display: none !important;
}

.fa-file-pdf:before {
  color: #fa5959;
}

.fa-file-excel:before {
  color: #80ea78;
}

.fa-file-word:before {
  color: #faba6b;
}

.fa-file-archive:before {
  color: #acd9e4;
}

.fa-file-video:before {
  color: #cf84ef;
}

.fa-file-image:before {
  color: #80c2ff;
}

.btn-white {
  color: #000;
}

div[class="commandBarWrapper"] {
  display: none !important;
}

div[class^="pageTitle_"] {
  display: none !important;
}

.projectSideBar ::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 0px;
  border: 0px;
  border-radius: 0;
}

.pi-fw {
  color: #fff;
  font-size: 1.5rem;
}

.ui-sortable-column-icon.pi-fw {
  color: #696d80;
  font-size: 12px;
}

.react-calendar-timeline .rct-header-container.header-sticky {
  //position: relative !important;
  z-index: 2;
}

.react-calendar-timeline * {
  z-index: 1;
}

.react-calendar-timeline .rct-item.item-weekend {
  background: #21F32C;
  border-color: #29B31A;
}

.react-calendar-timeline .rct-header .rct-label-group {
  background: #2d314c;
  border-bottom: 1px solid #151529;
  border-left: 2px solid #151529;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-bottom: 1px solid #151529;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
  border-left: 1px solid #151529;
  background: #1e213a;
}

.react-calendar-timeline .rct-header .rct-label {
  border-left: 1px solid #151529;
  color: #fff;
  background: #1e213a;
  border-bottom: 1px solid #151529;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6,
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0 {
  background: #252842;
}

.react-calendar-timeline .rct-outer {
  background: #24273f;
}

.react-calendar-timeline .rct-today {
  background: #838cce;
}

.react-calendar-timeline .rct-today::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -8px;
  width: .5rem;
  height: 100%;
  background: #838cce;
}

.react-calendar-timeline .rct-items .rct-item {
  background: #238ef1;
  border: 1px solid #238ef1;
  border-radius: 3rem;
  -webkit-box-shadow: 0px 0px 104px -9px rgba(35, 141, 241, 0.96);
  -moz-box-shadow: 0px 0px 104px -9px rgba(35, 141, 241, 0.96);
  box-shadow: 0px 0px 104px -9px rgba(35, 141, 241, 0.96);
  text-align: center;
  font-size: 11px;
}

.react-calendar-timeline .rct-sidebar {
  border-right: 1px solid #151529;
}

.react-calendar-timeline .rct-sidebar-header {
  background: #181a2d;
  border: 0px;
  text-align: center;
  font-size: 18px;
  padding-top: 1rem;
  color: #24def1;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  border: 0px !important;
  color: #fff;
  text-align: left;
  font-size: 12px;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-vl-first {
  border-left: 2px solid #151529;
}

.react-calendar-timeline .rct-header .rct-label.rct-first-of-type {
  border-left: 2px solid #151529;
}

.react-calendar-timeline .rct-header .bottom-header,
.react-calendar-timeline .rct-header .top-header {
  background: #1e213a;
}

.react-calendar-timeline-div {
  overflow: auto;
  max-height: 241px;
}

.ui-dropdown-panel .ui-dropdown-list {
  background-color: #fff;
}

.react-calendar-timeline .rct-items .rct-item.selected {
  background: #FFC107;
  border: 1px solid #FF9800;
  z-index: 999;
  color: #2d2306;
}

div[name="Recycle bin"] {
  display: none !important;
}

div[class^="footerBar_"] {
  display: none !important;
}

.ProjectLevelDashboard {

  .radioContainer {
    display: inline-block;
    position: relative;
    padding-left: 1.1rem;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1rem;
  }
  .radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #8e8e8e;
    -webkit-box-shadow: inset 0px -2px 0px 0px #e0e0e0;
    -moz-box-shadow: inset 0px -2px 0px 0px #e0e0e0;
    box-shadow: inset 0px -2px 0px 0px #e0e0e0;
  }
  .radioContainer:hover input~.checkmark {
    background-color: #ccc;
  }
  .radioContainer input:checked~.checkmark {
    background-color: #9da9b3;
    box-shadow: none;
    border: 1px solid #9da9b3;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .radioContainer input:checked~.checkmark:after {
    display: block;
  }
  .radioContainer .checkmark:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
  }
  ::-webkit-scrollbar {
    width: 0.85em;
    height: 0.85em;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6d6d8;
    outline: 0px;
    border: 1px solid #d6d6d6;
    border-radius: 3rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #393b51;
  }
  .gantt-container {
    height: 500px;
    width: 100%;
  }
  .zoom-bar .radio-label {
    margin-right: 1rem;
  }
  .milestone {
    line-height: 30px !important;
    background-color: #d33daf;
    border: 0 solid #61164f;
    box-sizing: content-box;
    border-radius: 3rem;
    font-size: 10px;
  }
  .ganttStatus {
    margin: 4px 0;
    border-radius: 3rem;
    color: #fff;
    width: 4rem;
    height: 1.5rem;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    padding-top: 0;
    line-height: 1.5rem;
    font-weight: 600;
  }
  body {
    background: #eff3f6;
    color: #454545;
    font-family: 'Conv_AVENIRLTSTD-BOOK';
    overflow-x: auto;
  }
  .ReactTable.-striped .rt-tr.-odd,
  .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: #fcfcfc !important;
  }
  .ReactTable .rt-tbody .rt-td {
    border-right: 1px solid rgba(0, 0, 0, .02);
    color: #454545;
    font-size: 13px;
    font-weight: 800;
  }
  .ReactTable .rt-tbody .rt-td>div>span {
    font-size: 11px;
    color: #424860;
    font-weight: 800;
  }
  .ReactTable .rt-thead.-filters .rt-th {
    border-right: 1px solid rgba(0, 0, 0, .02); // background-color: #002741;
    //  padding-top: 0;
  }
  .ReactTable .rt-thead.-filters .rt-th input {
    width: 100%;
    background-color: #f7f8f9;
    border: 1px solid #9ca0a2;
    height: 1.6rem;
  }
  .main-content-section section:first-child,
  .main-content-section section#requirement {
    padding: 0px;
  }
  .main-content-section {
    padding-right: 10px; // height: 100vh;
  }
  section.main-content-section section:first-child {
    display: block;
  }
  .table th {
    color: #696d80;
  }
  .projectHealth {
    padding: 1rem;
  }
  /********************* Top Heading *********************/
  .projectName {
    font-weight: 600;
    font-size: 16px;
  }
  .tagList>span {
    margin: 4px 0;
    border-radius: 3rem;
    color: #fff;
    width: 5rem;
    height: 1.5rem;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    padding-top: 0;
    line-height: 1.5rem;
    margin-right: 0.5rem;
  }
  .project-tabs .projectName {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 10px 0 10px 0;
  }
  .project-tabs .tagList {
    display: inline-block;
    margin-left: 0.5rem;
  }
  .project-tabs .tagList>span.priority-btn {
    width: 7rem;
  }
  .project-tabs .btn-outline{
    border-radius: 5px!important;
    border-color: #504f6c;
    color: #fff!important;
    width: auto;
    background-color: #1b1a30;
    height: auto;
    display: inline-block;
    text-align: center;
    padding: .3rem 1.2rem;
    font-weight: 600;
  }
  .Status-block {
    background-color: #fff;
  }
  .dark-blue {
    background: #1d203a;
    color: #fff;
    padding: 20px;
    border-radius: 8px 0 0 8px;
  }
  .Status-block .dark-blue {
    height: 150px;
  }
  .title-bullet {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .mid-text {
    padding: 30px 0;
    font-size: 18px;
    font-weight: 200;
  }
  .mid-text h5 {
    font-size: 12px;
  }
  .mid-text div h5 {
    position: relative;
    top: 0.5rem;
  }
  .status-title {
    font-weight: 600;
    width: 100%;
    font-size: 1.2rem;
  }
  .status-title .activityStatus {
    font-size: 1.1rem;
    font-weight: 200;
    float: right;
  }
  .statusPill {
    border-radius: 3rem;
    text-align: center;
    color: #fff;
    font-weight: 400;
  }
  .ownerImg {
    padding-top: 1rem;
    text-align: left;
  }
  .ownerImg>img {
    display: inline-block;
    width: 20%;
  }
  .ownerImg>div {
    display: inline-block;
    line-height: 30px;
    margin-left: 15px;
  }
  .wrapper {
    padding: 5px;
  }
  .well {
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0px 0px 8px rgba(168, 214, 248, 0.3);
    margin-bottom: 3%;
    padding: 1rem;
    min-height: 25em;
  }
  .well.card {
    min-height: auto !important;
  }
  .well h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 24px;
  }
  .well h6,
  p {
    font-size: 12px;
    margin-bottom: 0px;
    text-transform: none;
    font-weight: 500;
  }
  .well p {
    margin: 2% 0;
    color: #999;
    font-size: 13px;
    font-weight: bolder;
  }
  .well button {
    font-size: 12px;
  }
  .well li {
    font-size: 13px;
    margin: 2% 0;
  }
  .well button.btn-success {
    background-color: #34ac45;
  }
  .btn-success>.fa {
    font-size: 1em !important;
  }
  .StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
  }
  .StepProgress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #dfe3e9;
  }
  .well .StepProgress-item {
    position: relative;
    font-family: 'Conv_AVENIRLTSTD-BOOK';
    font-size: 13px;
    color: #848C98;
    font-weight: 600;
    counter-increment: list;
    padding-top: 4px;
  }
  .StepProgress-item a:hover,
  .StepProgress-item a.current {
    color: #2dadfa;
    text-decoration: none;
  }
  .StepProgress-item a {
    color: #7f8fa4;
    width: 100%;
    display: inline-block;
    padding: 0 0 24px 0;
  }
  .StepProgress-item:last-child a {
    padding: 0px;
  }
  .StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
  }
  .StepProgress-item a::after {
    position: absolute;
    top: 0;
    padding: 1px;
    left: -42px;
    width: 27px;
    height: 27px;
    content: counter(list);
    font-size: 12px;
    padding: 4px 5px;
    font-weight: bold;
    color: #777;
    text-align: center;
    border: 1px solid #dde2e4;
    border-radius: 50%;
    background-color: #FAFBFC;
    display: inline-block;
  }
  .StepProgress-item a:hover::after,
  .StepProgress-item a.current::after {
    content: counter(list);
    cursor: pointer;
    font-size: 12px;
    padding: 4px 5px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: 1px solid #2dadfa;
    background-color: #2dadfa;
    transition: all .1s linear;
  }
  .StepProgress strong {
    display: block;
  }
  .form-group {
    color: #7f8fa4;
    margin-bottom: 5%;
  }
  .form-group label {
    font-size: 13px;
  }
  .form-group .form-control {
    border: 1px solid #dfe3e9;
    box-shadow: none;
    font-size: 13px;
    font-weight: 600;
    height: 40px;
    padding: 6px 12px;
    transition: all 100ms linear;
  }
  .form-group .form-control i {
    color: #454545;
  }
  .form-group .form-control+.input-group-btn button {
    background: #dfe3e9;
    padding: 10px 12px 11px;
  }
  .form-group .form-control+.input-group-btn button i {
    color: #454545;
    font-size: 1em !important;
  }
  .form-group input[type="file"] {
    width: 95%;
    opacity: 0;
    z-index: 2;
    position: absolute;
    margin: -7px 0 0 -12px;
    padding: 10px 0;
  }
  .form-group input[type="file"]:hover {
    cursor: pointer;
  }
  .form-group .form-control.fileupload span {
    vertical-align: middle;
  }
  .form-group .form-control.fileupload:after {
    font-family: FontAwesome;
    content: "\f093";
    color: #7f8fa4;
    float: right;
    font-size: 1em !important;
    padding: 4px;
  }
  .form-group .form-control.datepicker:after {
    font-family: FontAwesome;
    content: "\f073";
    color: #7f8fa4;
    float: right;
    font-size: 1em !important;
    padding: 4px;
  }
  .form-group .form-control.success span.fileupload-preview {
    color: #34ac45;
  }
  .form-group .form-control.fail span.fileupload-preview {
    color: #e63c50;
  }
  .form-group .form-control.success:after {
    font-family: FontAwesome;
    content: "\f00c";
    color: #34ac45;
    padding: 4px 8px 0 0;
  }
  .form-group .form-control.fail:after {
    font-family: FontAwesome;
    content: "\f00d";
    color: #e63c50;
    padding: 4px 8px 0 0;
  }
  .form-group .chosen-container-multi .chosen-choices,
  .form-group .chosen-container .chosen-single {
    border: 1px solid #dfe3e9;
    box-shadow: none;
    font-size: 13px;
    font-weight: 600;
    height: 40px !important;
    padding: 3px 12px;
  }
  .form-group .chosen-container-multi .chosen-choices:after {
    content: '';
    background-position: 0px 7px;
    height: 21px;
    width: 14px;
    float: right;
  }
  .form-group .form-control:hover,
  .form-group .chosen-container-multi .chosen-choices:hover {
    border: 1px solid rgba(20, 164, 250, 0.5);
    background-color: #fff;
  }
  .form-group .form-control:focus,
  .form-group .chosen-container-multi .chosen-choices:focus {
    background-color: #fff;
    border: 1px solid rgba(20, 164, 250, 0.5);
    box-shadow: 0px 1px 3px rgba(20, 164, 250, 0.15);
  }
  input[type=radio]:checked~.check,
  input[type=checkbox]:checked~.check {
    border: 1px solid #AAAAAA;
  }
  input[type=radio]:checked~.check::before,
  input[type=checkbox]:checked~.check::before {
    background: #16a4fa;
  }
  input[type=radio]:checked~label,
  input[type=checkbox]:checked~label {
    color: #454545;
  }
  .fa {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.4em !important;
    margin-right: 1%;
  }
  .requirementWell {
    background-color: #f8f8f8;
  }
  .clearfix {
    *zoom: 1;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .clearfix:after {
    clear: both;
  }
  .hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  .input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    line-height: 2;
    font-size: 19px;
    color: #598fbd;
    background-color: rgba(235, 238, 241, 0.49);
    border: 1px dashed #adceea;
  }
  .btn-file>.fileupload-new>.fa,
  .btn-file>.fileupload-exists>.fa {
    color: #598fbd;
  }
  .btn-file:hover {
    color: #598fbd;
    background-color: rgba(209, 220, 230, 0.49);
    border: 1px dashed #8dc0ea;
  }
  .btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-249%, 200%) scale(6);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
  }
  .btn-info {
    margin-top: 6px;
    padding: 2px 8px;
    text-align: center;
  }
  .btn-info>.fa-plus {
    vertical-align: middle;
  }
  .well .input-group-btn>.dropdown-toggle {
    padding: 10px 14px 11px 14px;
    border-color: #dfe3e9;
    background-color: #dfe3e9;
  }
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  .checkBoxContainer {
    background-color: #f0f4f8;
    padding: 11px 25px;
    overflow-y: auto;
    height: 160px;
  }
  .cardHeading {
    margin-bottom: 0.1rem;
    padding-top: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
  .cardHeading .dropdown>.dropdown-menu>li {
    display: inline-block;
    padding: 0px;
  }
  .cardHeading .dropdown>.dropdown-menu>li>a>.fa {
    color: #fff;
  }
  .cardHeading .dropdown>.dropdown-menu {
    background-color: rgba(50, 57, 77, 0.95);
  }
  .cardHeading .dropdown>.dropdown-menu>li>a:hover {
    background: #343948;
  }
  .cardHeading h5 {
    font-weight: 600;
    margin-top: 0;
    color: #1d203a;
    font-size: .9rem;
  }
  .well .cardHeading+.form-group {
    padding: 0 15px;
  }
  .cardHeading a {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 1px 2px 1px #ccc;
    background-color: #238ef1;
    margin-top: -8px;
    padding: 3px;
    border: none;
    padding: 5px;
    width: 100px;
    font-size: 12px;
    margin-right: 12px;
  }
  .cardHeading .fa {
    color: #d9e0e5;
    margin-top: 4px;
  }
  .well .projectStatusBtn {
    width: 100%;
    height: 41px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    background-color: #f5f7f9;
    border: 1px solid #e7ebee;
  }
  .well .form-group+.col-sm-12>h5>.fa-arrow-up,
  .well .col-sm-12>h5>.fa-arrow-up {
    color: #0a9a13;
    font-size: 16px !important;
  }
  .recommendedProjects {
    // max-height: 615px;
    margin-bottom: 10px;
    border: none;
  }
  .tasklist-div {
    display: flex;
    justify-content: space-between;
  }
  .taskListTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .taskList,
  .recentActivity,
  .profileDetails-container,
  .assingment-sec {
    max-height: 19em;
    overflow: hidden;
    overflow-y: scroll;
    margin: 5px 0;
  }
  .projectDetail {
    position: relative;
    margin-bottom: 15px;
    border-bottom: 1px solid #e9ecef;
  }
  .projectDetail h5 {
    font-size: 16px;
  }
  .projectDetail .fa-caret-right {
    color: #c4c7ca;
    margin-right: 10px;
  }
  .profileDetails-container .ReactTable .pagination-bottom {
    display: none;
  }
  .overlayTag {
    background-color: rgba(35, 45, 60, 0.9);
    padding: 8px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .recentActivity .col-xs-1.col-md-1 {
    text-align: right;
  }
  .recentActivity .col-xs-11.col-md-11 {
    text-align: left;
  }
  .recentActivity .row {
    background-color: #f5f5f5;
    padding-top: 15px;
    border: 1px solid #e9ecef;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  .activityDesc span.pull-left {
    padding: 0px;
  }
  .activityDesc span.pull-left a {
    text-transform: uppercase;
  }
  .activityDesc {
    display: block;
    color: #646464;
    font-size: 15px;
    width: 98%;
    margin-bottom: 4px;
  }
  .activityTime {
    text-align: right;
    color: #9c9c9c;
  }
  .activityFeedback {
    display: flex;
  }
  .activityFeedback div {
    flex: 1;
    padding: 8px;
    background-color: #f3f3f3;
    border-right: 1px solid #d9dee2;
    text-align: center;
    padding-left: 10px;
  }
  .activityFeedback div:last-child {
    border-right: 0px;
  }
  .due-date {
    font-size: 11px;
    color: #9c9c9c;
    font-style: italic;
    padding-left: 16px;
  }
  .done-btn {
    border-radius: 9px;
    background-color: #ccc;
    border-color: #ccc;
    margin-top: 8px;
  }
  .assingment-sec {
    margin-top: 5px;
    padding: 0;
  }
  .assingment-container {
    border-bottom: 1px solid #e2e2e2;
    clear: both;
  }
  .assingment-title {
    padding-top: 12px;
  }
  .assingment-text {
    font-style: italic;
    margin-left: 15px !important;
  }
  .cardStats .customerProfile {
    padding: 0px;
  }
  .profileDetails-container>.row {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
  }
  .profileDetails-container .ui-datatable .ui-datatable-thead>tr>th {
    font-weight: 600;
    background-color: #002541;
    color: #fff;
    font-size: 0.79rem;
    border-right: 0;
    border-left: 0;
  }
  .profileDetails-container .ui-datatable tr.ui-widget-content>td:first-child {
    background-color: #fff;
  }
  .profileDetails-container .ui-datatable tr.ui-widget-content>td {
    padding: 0.5rem 0;
    color: #696d80;
    border-left: 0;
    border-right: 0;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
  }
  .profileDetails-container .ui-datatable tr.ui-widget-content>td a {
    font-size: 12px;
    font-weight: 800;
    color: #676c84;
  }
  .profileDetails-container .ui-datatable tr.ui-widget-content td:first-child {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .profileDetails-container .ui-datatable tr.ui-widget-content td:last-child {
    color: #9c9c9c;
    font-size: 12px;
  }
  .image-style {
    border-radius: 50%;
    width: 130%;
    display: inline-block;
    margin-bottom: 1rem;
  }
  .rolesImage {
    width: 100%;
  }
  .profileDetail {
    display: inline-block;
    margin-bottom: 0;
  }
  .profileImg img {
    display: inline-block;
    border-radius: 10%;
  }
  .profileName,
  .profileDesignation {
    display: block;
  }
  .profileName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
  }
  .profileName h4 {
    display: flex;
    font-weight: 600;
    margin: 0px 0 10px 0;
    color: #1e62df;
    font-size: 0.9rem;
    text-decoration: underline;
    display: inline-block;
  }
  .profileDesignation>.designationTag {
    border-radius: 3rem;
    background-color: #dbdbdc;
    color: #000;
    padding: .2rem 1rem;
    font-size: 0.6rem;
    display: inline-block;
    font-weight: 600;
  }
  .profileImg h6 {
    color: #238ef1;
    font-size: 14px;
  }
  .deptName {
    font-weight: 600;
    color: #6f6f6f;
    font-size: 0.7rem;
  }
  ul.profileRoles {
    padding-left: 2rem;
  }
  ul.profileRoles li {
    font-style: italic;
    font-size: 11px;
  }
  .card-shadow {
    box-shadow: 0 0 4px 1px #eee;
    padding: 12px 6px;
    margin: 0;
  }
  .detail-box {
    display: inline-flex;
  }
  .detail-box p {
    color: #777;
    font-weight: bold;
  }
  .department-title {
    color: #777;
    font-weight: bold;
    margin: 6px 0 !important;
  }
  .profileImg p {
    color: #c7c5c5;
  }
  .responsibilty-div {
    border-left: 2px solid #eee;
    padding-bottom: 20px;
    line-height: 1.5;
  }
  .responsibilty-div h6 {
    font-size: 14px;
    font-weight: bold;
  }
  .crechartSection .well {
    min-height: 376px;
    margin-bottom: 0px;
  }
  .activeCRE {
    background-color: #23a5d7;
    color: #fff;
  }
  .activeCRE h6 {
    color: #fff;
  }
  .contactDetails .fa {
    color: #23a5d7;
  }
  .contactIcons {
    display: flex;
  }
  .contactIcons span {
    flex: 1;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
  }
  .contactIcons .fa {
    color: #ccc;
  } //   .conversationTasks .well {
  //     max-height: 400px;
  //   }
  .taskContainer {
    padding-top: 2px;
    border-top: 1px solid #f5f5f5;
    margin-top: 6px;
  }
  .taskContainer .checkbox label {
    padding-left: 15px;
  }
  .taskContainer .checkbox .fa {
    color: #14a4fa;
  }
  .taskContainer .checkbox strong {
    color: #14a4fa;
  }
  .monthlyProgress .chart-container {
    margin-top: 45px;
  }
  .calendarFeedback .well {
    max-height: 615px;
  }
  .userFeedback .row .profileDetails .profileImg img {
    vertical-align: top;
    width: 40px;
    margin-left: 5px;
  }
  .userFeedback .row .profileDetails .profileName h4 {
    margin-bottom: 5px;
  }
  .userFeedback .row .profileDetails .starRating .fa {
    color: #ff9e05;
  }
  .starRating {
    margin-bottom: 10px;
  }
  .userFeedback .row .profileDetails .contactIcons {
    border-top: 0px;
  }
  .userFeedback .row .profileDetails .contactIcons {
    display: flex;
  }
  .userFeedback .row .profileDetails .contactIcons .btn {
    border-radius: 20px;
    color: #fff;
    margin-bottom: 3px;
    width: 85%;
  }
  .userFeedback .row .profileDetails .btn {
    pointer-events: none;
  }
  .uploadedDoc .fa-file-word {
    font-size: 35px;
    color: #238ef1;
  }
  .all-milestones {
    border: 2px solid #1d203a;
    padding: 0 12px;
    border-radius: 0 8px 8px 0;
  }
  .container-outer {
    overflow: scroll;
    height: 150px;
    max-height: 150px;
    overflow-y: hidden;
  }
  .container-inner {
    width: 1000px;
    height: 100%;
  }
  .all-milestones .col-sm-4.col-6 {
    border-left: 1px solid #dddee2;
    max-width: 145px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .all-milestones .milestoneList>.milestones-title {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 6px;
    color: #384168;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .all-milestones .milestoneList>.table-responsive-sm {
    margin-left: 0.9rem;
  }
  .all-milestones tbody {
    line-height: 1.7;
  }
  .all-milestones thead {
    display: none;
  }
  .all-milestones .table tr {
    margin-bottom: 0.7rem;
  }
  .all-milestones .table td {
    padding: 0px;
  }
  .all-milestones td:first-child {
    color: #0c0404;
    font-size: 12px;
    font-weight: 600;
    border: none;
    vertical-align: middle;
    display: block;
    margin-top: 5px;
  }
  .all-milestones td:last-child {
    font-weight: 600;
    color: #1d486f;
    font-size: 11px;
    border: none;
    vertical-align: middle;
    display: block;
  }
  .search-container {
    margin-top: 10px;
  }
  input[type=text] {
    color: #181818;
    background-color: #eff3f6;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-top: none;
    border-bottom: none;
    font-size: 16px;
    width: auto;
    padding: 6px 12px;
  }
  .table-sub-title {
    font-weight: bold;
    color: #666;
    font-weight: 600;
    font-size: 14px;
  }
  .btn-outline {
    border-radius: 5px !important;
    border-color: #504f6c;
    color: #fff !important;
    width: auto;
    background-color: #1b1a30;
    height: auto;
    display: inline-block;
    text-align: center;
    padding: .3rem 1.2rem;
    font-weight: 600;
  }
  .due-date-style {
    font-size: 0.9rem;
    color: #777;
    margin: 0 8px;
  }
  .blueTag,
  .pinkTag,
  .cyanTag,
  .redTag,
  .completeStatus,
  .inprogressStatus,
  .delayedStatus,
  .notstarted {
    border: none;
    padding: 5px;
    font-size: 12px;
  }
  .blueTag {
    background-color: #5591ff;
  }
  .pinkTag {
    background-color: #ff4381;
  }
  .cyanTag {
    background-color: #1cc5bc;
  }
  .redTag {
    background-color: #ff6363;
  }
  .completeStatus {
    background-color: #12c877;
  }
  .inprogressStatus {
    background-color: #fcab47;
  }
  .delayedStatus {
    background-color: #e84642;
  }
  .notstarted {
    background-color: #5b5b5b;
  }
  span.clock-sidetime {
    font-size: 12px;
    color: #9c9c9c;
    margin-left: 6px;
    top: -1px;
    position: relative;
  }
  .milestoneHeader {
    margin-bottom: 0;
  }
  .milestoneExpand {
    background-color: #1d203a;
    color: #fff;
    padding: 1rem;
  }
  .doc-icon {
    font-size: 26px;
    margin-right: 6px;
  }
  .pdf {
    color: #ff6464;
  }
  .word {
    color: #333;
  }
  .image {
    color: #14a4fa;
  }
  .xls {
    color: #59d25b;
  }
  /* Process Bar */
  #skill {
    list-style: none;
    position: relative;
    line-height: 2em;
    padding: 25px 0 0;
  }
  #skill .progress {
    height: 20px;
    border-radius: 10px;
    border: 1px solid #fcab47;
    background-color: transparent;
  }
  .bar {
    height: 18px;
    margin: 0px -2px;
    position: absolute;
    border-radius: 10px;
  }
  .jquery {
    width: 65%;
    -moz-animation: jquery 2s ease-out;
    -webkit-animation: jquery 2s ease-out;
    background-color: #fcab47;
  }
  .taskGanttContainer {
    overflow-y: hidden;
    height: 100%;
  }
  .rt-resizable-header {
    background-color: #002641;
    color: #fff;
  }
  .zoom-button-active {
    background-color: #007bff;
    color: #fff;
  }
  /*------------------------ Mobile View -----------------------------*/
  @media only screen and (min-width: 1400px) {
    .detail-box :nth-child(even) {
      padding-left: 8px;
    }
  }
  @media only screen and (max-width: 1367px) {
    .infoBoxes h6 {
      font-size: 0.7em;
      color: #8292a2;
    }
    .infoBoxes h5 {
      font-weight: 500;
      font-size: 1.1em;
    }
    .conversationTasks .well {
      max-height: 340px;
      overflow-x: hidden;
    }
  }
  @media only screen and (max-width: 768px) {
    .main-content-section {
      padding-left: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 0px; // height: 100vh;
    }
    .infoBoxes {
      height: 75px;
    }
    .blueTag,
    .pinkTag,
    .cyanTag,
    .redTag,
    .completeStatus,
    .inprogressStatus,
    .delayedStatus,
    .notstarted {
      font-size: 10px;
    }
    .ProjectLevelDashboard .well.card {
      height: 400px;
    }
  }
  @media (max-width: 767px) {
    .taskList,
    .recentActivity,
    .profileDetails-container,
    .assingment-sec {
      width: 100%;
    }
  }
  @media only screen and (max-width: 766px) {
    .taskContainer {
      margin-top: 30px;
      margin-right: 10px;
    }
  }
  @media only screen and (min-width:320px) and (max-width:425px) {
    .wrapper {
      padding: 1px;
    }
    .dark-blue {
      border-radius: 8px;
      margin-bottom: 8px;
    }
    .all-milestones {
      border-left: 2px solid #002441;
      border-radius: 8px;
    }
    .recentActivity {
      padding-top: 24px;
    }
    .due-date {
      display: block;
    }
    .ownerImg>img {
      width: 50%;
      display: block;
      clear: both !important;
    }
    .ownerImg>div {
      clear: both !important;
      display: block;
      line-height: 30px;
      margin-left: 0;
    }
    .responsibilty-div {
      border-left: 0;
      padding-bottom: 2px;
    }
  }
  @media only screen and (min-width:320px) and (max-width:375px) {
    .activityTime {
      padding-right: 42px;
    }
  }
  .gantt_grid_scale,
  .gantt_task_scale {
    background-color: #eaeaea;
    font-size: 11px;
  }
  .gantt_task .gantt_task_scale .gantt_scale_cell,
  .gantt_grid_scale .gantt_grid_head_cell {
    color: #0c0404;
    border-right: 1px solid #cac0c0;
  }
  .gantt_row,
  .gantt_tree_content,
  .gantt_task_row,
  .gantt_task_content {
    font-size: 11px; // height: 28px !important
  } // .gantt_task_row {
  //   font-size: 10px;
  //  // height: 28px !important
  // }
  // .gantt_task_line{
  //   height: 20px !important;
  //   line-height: 20px !important;
  // }
  .zoom-bar {
    margin: 5px;
  }
  .zoom-bar-button {
    margin-right: 3px;
  }
  .zoom-bar button.zoom-bar-button:focus {
    background-color: #007bff;
    color: #fff;
  }
  .zoom-bar button.zoom-bar-button:hover {
    background-color: #0659b3;
    color: #fff;
  }
  .cardPadding {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .jobName {
    font-weight: 600;
    color: #6f6f6f;
    font-size: 0.7rem;
    font-style: italic;
  }
  .ReactTable .rt-thead .rt-th {
    padding : 3px;
  }
}

.CEOProjectDashboardContainer {
  tr.ui-widget-content>td:first-child {
    padding: 0;
    background-color: #248ef1;
    color: #fff;
  }
  .ui-datatable .ui-paginator {
    margin-top: 1.2rem;
  }
  .ui-dropdown .ui-dropdown-label {
    width: 100%;
    padding-right: 0;
  }
  .ui-dropdown .ui-dropdown-trigger {
    padding: 0 .25em 0 0;
  }
}